*{
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
}   
:root{
    --ghost:ghostWhite;
    --backG:#2d7086;
    --secC:silver;
    --hiLiteC:#19404d;
    --abox:#cc0000;
}
body{ 
    font-family: 'Roboto', sans-serif;
    background-color:var(--abox);
}
h1{
    font-size: 48px;
    color: var(--ghost);
}

#main_content{
    width: 450px;
    margin: 0 auto;
    padding: 100px 0 0;
}
.myFrame{
    width: 100%;
    height: 0;
 /*   padding-bottom: 85.25%; */
    position: relative;
}
.myFrame > iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

u{
    text-decoration: none;
    font-weight: 300;
}
p{
    font-size: 22px;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
.container{
    width: 450px;
    margin: 10px auto;
    outline: none;
    margin: 10 auto 5 auto;
}
.inContainer{
    width: 450px;
    margin: 10px auto;
    outline: none;
    margin: 2 auto 15 auto;
}

footer{
    font-size: 18px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: #fff;
}



@media screen and (max-width:459px){
    .inContainer{
        width:100%;
        margin: 2 auto 15 auto;
    }
    
    #glApp{
        width:100%;
    }
}
