*{
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
}   
:root{
    --main:snow;
    --backG: #77212e;
    --oldbackG:#2d7086;
    --secC:silver;
    --hiLiteC:#19404d;
    --abox:#cc0000;
}
body{ 
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color:var(--backG);
    color: var(--main);
    font-size: 20px;
    line-height: 1.4em;;
}

header{
    width:96%;
    margin: 40px auto;
}
main{
    width: 96%;
    margin: 20px auto;
    display: flex;
}

article{
    min-width: 310px;
    padding: 15px;
    line-height: 1.5em;
    flex: 2;
  }
  
  aside{
    position: relative;
    background-color: var(--back);
    min-width: 310px;
    padding: 15px;
    flex: 1;
  }
li{
    font-size: 22px;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #fff;
}
li{list-style: none;}
fieldset{color: var(--main); border-color: var(--main);}
legend{ padding: 5px; font-size: 14px; font-weight: bold; text-transform: uppercase;}
footer{
    font-size: 18px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: var(--main);
}

.container{
    padding: 10px;
    border: 1px solid var(--main);
}
.light{
    font-weight: 100;
}
@media screen and (max-width:459px){
    .inContainer{
        width:100%;
        margin: 2 auto 15 auto;
    }
    
    #glApp{
        width:100%;
    }
}
