*{margin: 0; padding: 0; box-sizing: border-box;}
:root{--main: rgb(250,100,30); --backG: rgb(10,10,15); --special:#77212e; --hilite: rgb(250,160,30);}/* #50161f #641b26 */
html {scroll-behavior: smooth;}
body{font-family: 'Roboto Mono', monospace;

  background-color: var(--backG); color : var(--main);  font-size: 125%;}

/*--------------- TAGS Typo ------------------*/
h1, h2{margin-bottom: 20px;}
h5{margin-bottom: 16px; text-transform: uppercase; letter-spacing: 0.2em;}
#id_gridHead{font-family: 'Roboto', sans-serif; font-size: 72px;}
h3{margin-bottom: 18px;}
p{line-height: 1.5em;
  margin-bottom: 6px;}
strong{color: var(--hilite);}
ul li{margin-left: 28px; line-height: 1.5em;}
ol li{margin-left:36px; line-height: 1.5em;}
td{padding-bottom: 4px;}
ul{padding-bottom: 10px;}
a{text-decoration: none; color: var(--main)}
a:hover{color: white;}


.center { 
  max-width: 400px;
  margin: 0 auto;
  height: 90vh;
  position: relative;
  /* border: 3px solid green;  */
}

.vertical-center {
  margin: 0;
  padding:5px;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}
#robo{text-transform: uppercase; font-size: 18px;}

button{width:100%; height:100%; background-color: var(--backG); color: var(--main); font-family: 'Roboto Mono', monospace; font-size: 18px; letter-spacing: 0.2em;  outline: none; border: none;
 overflow: hidden;}
.myBtn{width: 120px; height: 36px; position: absolute; 
  /* top: 50%; */
  bottom: 10px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 2px solid var(--main); animation: fadeEffect 10s; }
.myBtn:hover{
  /* box-shadow: 0 1.5rem 2.8rem rgba(250, 100, 030 0.9), 0 1rem 1rem rgba(250, 100, 30, 0.24); */

  border-color: var(--hilite); ;
}

button:hover{color: var(--hilite)}
@keyframes fadeEffect {from {opacity: 0;}to {opacity: 1;}}

/* @keyframes fadeIn {
  0% {transform: scale(0);}
  80% {transform: scale(1.1);}
  100% {transform: scale(1);}
}  */